/* google fonts import*/
  @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Hind+Madurai&display=swap');

/* remove default values*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* body and heading styling*/
body {
    font-family: "Bungee", cursive;
    font-weight: 500;
    color: #0DB0E6;
    background: #F8E68E;
}

.heading {
    text-align: center;
}

.logo {
    height: 25rem;
}

/* landingpage section with menu*/
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-game {
    font-family: "Bungee", cursive;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0DB0E6;
    background-color: #EEBC08;
    padding: 2rem 2rem;
    border-radius: 10%;
}

#info {
    font-family: "Bungee", cursive;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0DB0E6;
    background-color: #EEBC08;
    padding: 2rem 1.5rem;
    border-radius: 10%;
}

.btn:hover {
    border: 5px solid #0DB0E6;
}

/* form section for username*/
.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
}

#username {
    font-size: 1rem;
    width: 30%;
    height: 25px;
    padding: 10px;
    background: #F8E68E;
    border: 5px solid #0DB0E6;

}

#submit {
    padding: 18px;
    font-size: 1.5rem;
    font-weight: bold;
    background: #0DB0E6;
    color: #F8E68E;
}

#submit:hover {
    border: 5px solid #f50202;
}

#errors {
    color: #EEBC08;
    background-color: #f50202;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 1rem;
    width: fit-content;
    display: none;
}

    

