/* google fonts import */
  @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Hind+Madurai&display=swap');

/* remove default values */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* body and heading styling */
body {
    font-family: "Bungee", cursive;
    font-weight: 500;
    color: #0DB0E6;
    background: #F8E68E;
}

.heading {
    text-align: center;
}

.logo {
    height: 15rem;
    padding: 1rem;
    text-align: center;
}

/* landingpage section with menu */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-game {
    font-family: "Bungee", cursive;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0DB0E6;
    background-color: #EEBC08;
    padding: 2rem 2rem;
    border-radius: 10%;
}

#info {
    font-family: "Bungee", cursive;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0DB0E6;
    background-color: #EEBC08;
    padding: 2rem 1.5rem;
    border-radius: 10%;
}

.btn:hover {
    border: 8px solid #29C901;
    color: #29C901;
}

/* form section for username */
.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
}

#username {
    font-size: 1rem;
    width: 30%;
    height: 25px;
    padding: 10px;
    background: #F8E68E;
    border: 5px solid #0DB0E6;

}

#submit {
    padding: 18px;
    font-size: 1.5rem;
    font-weight: bold;
    background: #0DB0E6;
    color: #F8E68E;
}

#submit:hover {
    border: 5px solid #f50202;
}

#errors {
    color: #EEBC08;
    background-color: #f50202;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 1rem;
    width: fit-content;
    display: none;
}

/* Main game section */
.game-play {
    text-align: center;
    padding: 1 rem;
}

#username-output {
    font-size: 2rem;
    padding: 1rem;
    color:#0DB0E6;
}

#start {
    background: #EEBC08;
    color: #0DB0E6;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 25%
}

#start:hover {
    background-color: #29C901;
    color: #f50202;
}

#next {
    background: #EEBC08;
    color: #0DB0E6;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 25%
}

#next:hover {
    background-color: #29C901;
    color: #f50202;
}

/* Result section with score */
.result {
    text-align: center;
    font-size: 2.5rem;
}

.scores {
    padding: 1rem;
}

#right{
    color: #29C901;
}

#score-right {
    color: #29C901;
}

#wrong {
    color: #f50202;
}
#score-wrong {
    color: #f50202;
}

#restart {
    background: #EEBC08;
    color: #0DB0E6;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 25%
}

#restart:hover {
    border: 8px solid #29C901;
    color: #29C901;
}

/* Rules info page*/
.rules {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Hind Madurai", sans-serif;
    padding: 1rem;
}

.rules h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem;
}

.rules p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
}

.rules ul {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
}

#play-now {
    background: #EEBC08;
    color: #0DB0E6;
    padding: 1rem;
    margin: 2rem;
    font-size: 1.5rem;
    border-radius: 25%
}

#play-now:hover {
    border: 8px solid #29C901;
    color: #29C901;
}