/*google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Martel:wght@300&display=swap');

/*remove default values */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*body and heading styling */
body {
    font-family: "Bungee", sans-serif;
    font-weight: 500;
    color: #6600C2;
    background: #fceaa9;
}

.heading {
    text-align: center;
}

.logo {
    height: 25rem;
    padding: 5px;
    text-align: center;
}

/*landingpage section with menu */
h1 { 
    font-size: 3rem;
    padding: 5px;
    margin: 5px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-game {
    font-family: "Bungee", cursive;
    font-weight: 500;
    font-size: 2rem;
    color: #6600C2;
    background-color: #ffd94f;
    padding: 2rem 2rem;
    border-radius: 10%;
}

#start-game:hover {
    border: 8px solid #F97068;
    color: #F97068; 
} 

/*class to hide or show sections and elements*/
.hide {
    display: none;
}

/*button for rules page */
#info {
    font-family: "Bungee", cursive;
    font-weight: 500;
    font-size: 2rem;
    color: #6600C2;
    background-color: #ffd94f;
    padding: 2rem 1.5rem;
    border-radius: 10%;
}

#info:hover {
    border: 8px solid #F97068;
    color: #F97068; 
}

/*form section for username */
.user h2 {
    text-align: center;
    font-size: 1.5rem;
}

.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
}

#username {
    font-family: "Bungee", cursive;
    font-size: 1rem;
    width: 30%;
    height: 25px;
    padding: 10px;
    background: #ffd94f; 
    color: #6600C2;
    border: 5px solid #6600C2;

}

/*enter button */
#submit {
    padding: 18px;
    font-size: 1.5rem;
    font-weight: bold;
    background: #6600C2;
    color: #ffd94f;
}

#submit:hover {
    border: 8px solid #7DFF4D;
    color: #7DFF4D; 
}

#errors {
    color: #FFED00;
    background-color: #EC0000;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 1rem;
    width: fit-content;
    display: none;
}

/*main game section */
.game-play h2 {
    text-align: center;
    font-size: 2rem;
}

.game-play {
    text-align: center;
    padding: 1rem;
}

#username-output {
    font-size: 2rem;
    padding: 5px;
    color: #6600C2;
}

/*play-button to start game and next-button */ 
#start {
    font-family: "Bungee", cursive;
    font-size: 5rem;
    background: #ffd94f;
    color: #6600C2;
    padding: 3rem;
    margin-top: 1em;
    border-radius: 5px;
}

#start:hover {
    border: 8px solid #7DFF4D;
    color: #3DEF3F; 
}

#next {
    background: #ffd94f;
    color: #6600C2;
    font-family: "Bungee", cursive;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 25%
}

#next:hover {
    background-color: #6600C2;
    color: #ffd94f;
}

/*timer */
#timer {
    margin: 15px;
    padding: 10px;
    background: EEBC08;
}

/*lyrics and missing snippet*/
#lyrics {
    font-size: 2rem;
    padding: 1rem;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
}
.options {
    color: #ffd94f;
    background-color: #6600C2;
    font-family: "Bungee", cursive;
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
    width: 100%;
}

.right-answer {
    background-color: #ffd94f;
    border: 8px solid #1f9b00;
    color: #1f9b00; 
}

.wrong-answer {
    background-color: #ffd94f;
    border: 8px solid #f50000;
    color: #f50000; 
}

.disabled {
    pointer-events: none;
}

/*result section with score */
.result h2 {
    text-align: center;
    font-size: 1.5rem;
}

.result {
    text-align: center;
    font-size: 2.5rem;
}

#result-message {
    padding: 1rem;
}

.scores {
    padding: 1rem;
}

#right{
    color: #29C901;
}

#score-right {
    color: #29C901;
}

#wrong {
    color: #f50000;
}
#score-wrong {
    color: #f50000;
}

#home {
    background: #ffd94f;
    color: #6600C2;
    padding: 1rem;
    font-family: "Bungee", cursive;
    font-size: 1.5rem;
    border-radius: 25%
}

#home:hover {
    background-color: #6600C2;
    color: #ffd94f;
}

/*rules info page*/
.rules {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.rules h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem;
}

.rules ul {
    font-family: "Martel", serif;
    font-size: 1rem; 
    font-weight: bolder;
    color: #6600C2;
}

#play-now {
    background-color: #6600C2;
    color: #fceaa9;
    padding: 1rem;
    margin: 2rem;
    font-size: 1.5rem;
    border-radius: 25%
}

#play-now:hover {
    border: 8px solid #7DFF4D;
    color: #7DFF4D; 
}

/*media queries*/

/*media query to ignore hover when on touch devices*/
@media (hover: hover) {
    .options:hover{
        background-color: #ffd94f;
        border: 8px solid #6600C2;
        color: #6600C2; 
    }
}

/*for medium screen sizes 855px and down*/
@media screen and (max-width:855px) {
    .logo {
        height: 15rem;
        padding: 3px;
    }

    h1 { 
        font-size: 1.5rem;
        padding: 10px;
        margin: 0;
    }

    #start-game {
        font-size: 1rem;
        padding: 1rem 1rem;
    }

    #info {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
    
    #lyrics {
        font-size: 1rem;
        padding: 5px;
    }

    .options {
        font-size: 1rem;
        padding: 3px;
        margin: 2px;
    }

    #next {
        font-size: 1rem;
        padding: 15px;
        margin-top: 15px;
    }

    .rules h2 {
        font-size: 1rem;
        margin: 15px;
    }

    .rules ul {
        font-size: 0.8rem;    
    }

    #play-now {
        padding: 15px;
        margin: 15px;
        font-size: 0.8rem;  
    }
} 

/*for small screen sizes 470px and down*/
@media screen and (max-width:470px) {
    h1 { 
        font-size: 1rem;
    }

    #start-game {
        font-size: 0.7rem;
        padding: 15px;
    }

    #info {
        font-size: 0.7rem;
        padding: 15px;
    }

    .user-input label {
        font-size: 1rem;
    }

    #lyrics {
        font-size: 0.8rem;
    }

    .options {
        font-size: 0.8rem;
    }

    .result h2 {
        font-size: 0.8rem;
    }

    #result-message {
        font-size: 0.8rem;
    }
    
    .result {
        font-size: 1.2rem;
    }
    
    #home {
        padding: 0.5rem;
        font-size: 1rem;
    }
}
